<a href="https://colab.research.google.com/github/Atharvavp/Machine-Learning-practical-3/blob/main/Implementing_MLR_and_Ploynomial_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Clone Repo for startup_50 Dataset

In [ ]:
!git clone https://github.com/krishnaik06/Multiple-Linear-Regression.git

Cloning into 'Multiple-Linear-Regression'...
remote: Enumerating objects: 7, done.
remote: Total 7 (delta 0), reused 0 (delta 0), pack-reused 7
Unpacking objects: 100% (7/7), done.

#Importing Libraries

In [94]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures  

import matplotlib.pyplot as pl

In [70]:
%cd /content/Multiple-Linear-Regression
!ls

/content/Multiple-Linear-Regression
50_Startups.csv  multiple_linear_regression.py	README.md

In [104]:
data = pd.read_csv("50_Startups.csv")
data.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [105]:
x = data.drop("Profit", axis = 1)
y = data['Profit']

In [106]:
state = pd.get_dummies(x)
state = state.iloc[:, -3:]
x=pd.concat([x,state], axis=1)
x = x.drop("State", axis = 1)
x

    R&D Spend  Administration  ...  State_Florida  State_New York
0   165349.20       136897.80  ...              0               1
1   162597.70       151377.59  ...              0               0
2   153441.51       101145.55  ...              1               0
3   144372.41       118671.85  ...              0               1
4   142107.34        91391.77  ...              1               0
5   131876.90        99814.71  ...              0               1
6   134615.46       147198.87  ...              0               0
7   130298.13       145530.06  ...              1               0
8   120542.52       148718.95  ...              0               1
9   123334.88       108679.17  ...              0               0
10  101913.08       110594.11  ...              1               0
11  100671.96        91790.61  ...              0               0
12   93863.75       127320.38  ...              1               0
13   91992.39       135495.07  ...              0               0
14  119943.24       156547.42  ...              1               0
15  114523.61       122616.84  ...              0               1
16   78013.11       121597.55  ...              0               0
17   94657.16       145077.58  ...              0               1
18   91749.16       114175.79  ...              1               0
19   86419.70       153514.11  ...              0               1
20   76253.86       113867.30  ...              0               0
21   78389.47       153773.43  ...              0               1
22   73994.56       122782.75  ...              1               0
23   67532.53       105751.03  ...              1               0
24   77044.01        99281.34  ...              0               1
25   64664.71       139553.16  ...              0               0
26   75328.87       144135.98  ...              1               0
27   72107.60       127864.55  ...              0               1
28   66051.52       182645.56  ...              1               0
29   65605.48       153032.06  ...              0               1
30   61994.48       115641.28  ...              1               0
31   61136.38       152701.92  ...              0               1
32   63408.86       129219.61  ...              0               0
33   55493.95       103057.49  ...              1               0
34   46426.07       157693.92  ...              0               0
35   46014.02        85047.44  ...              0               1
36   28663.76       127056.21  ...              1               0
37   44069.95        51283.14  ...              0               0
38   20229.59        65947.93  ...              0               1
39   38558.51        82982.09  ...              0               0
40   28754.33       118546.05  ...              0               0
41   27892.92        84710.77  ...              1               0
42   23640.93        96189.63  ...              0               0
43   15505.73       127382.30  ...              0               1
44   22177.74       154806.14  ...              0               0
45    1000.23       124153.04  ...              0               1
46    1315.46       115816.21  ...              1               0
47       0.00       135426.92  ...              0               0
48     542.05        51743.15  ...              0               1
49       0.00       116983.80  ...              0               0

[50 rows x 6 columns]

In [107]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 48)

#Multiple Linear Regression

In [108]:
Lr = LinearRegression(fit_intercept=True, normalize=True, copy_X=True, n_jobs=None)
Lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [109]:
y_pred = Lr.predict(x_test)

In [110]:
score=r2_score(y_test,y_pred)
print('r2 score is',score)
print('mean_sqrd_error is ',mean_squared_error(y_test,y_pred))
print('root_mean_squared error of is ',np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is 0.9415657621189044
mean_sqrd_error is  118137540.42427102
root_mean_squared error of is  10869.109458657182

#Polynomial Linear Regression

In [93]:
poly= PolynomialFeatures(degree= 2)  
x_poly = poly.fit_transform(x_train)  
Lr.fit(x_poly, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [ ]:
y_train = list(y_train)
y_train